.footer{
    background-color: rgb(67, 104, 80);
    color: #070707;
    padding: 10px;
    text-align: center;
    height: 48px;
    
}

.footer p{
    font-size: 20px;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-family: 600;
}
