.reset-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 641px;
}


.resetTitle{
    font-family: 'DM Sans', sans-serif ;
    color: black;
}


.reset-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.resetButton{
    background-color: black !important;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-size: 0.906rem;
    font-family: 'DM Sans', sans-serif;
}

.resetButton:hover {
    background-color: #666 !important;
}

label{
    font-family: 'DM Sans', sans-serif;
    color: black;
    display: block;
    margin-bottom: 5px;
  }

.loginRedirect{
    margin-top: 8px;
    font-family: 'DM Sans', sans-serif;
}
